html {
  margin: 0px;
  outline: 0px;
}

body {
  background-color: #f7f5f1;
  color: #5e6464;
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
  font-size: 1.8vw;
  height: 100vh;
}
/** Index display (grid)**/
#body-grid {
  display: grid;
  grid-template-rows: minmax(min-content max-content) minmax(min-content max-content) minmax(min-content max-content);
  grid-gap: 8vh;
}

#body-grid > nav {
  background-color: #a5c6b1;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  position: fixed;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  width: 100%;
}

#body-grid > main {
  margin-top: 18vh;
  margin-left: 1vw;
}

#body-grid > footer {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vw;
}

#inner-grid > text {
  padding: 2vw;
}

#inner-grid > img {
  padding: 2vw;
}


/** navbar settings **/
#navbar {
  border-bottom: 2px solid #faf4ea;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  margin-top: -3px;
}  

#navbar a {
  color: #b464a8;
  text-align: center;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  margin-top: -3px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #faf4ea;
  color: #5e6464;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  margin-top: -3px;
}

nav ul {
   list-style: none;
   padding: 0px;
   font-family: 'Inter', sans-serif;
}

nav li {
   display: inline;
   color: #b464a8;
   position: relative;
   left: 7vw;
   font-family: 'Inter', sans-serif;
}


/** image settings **/
.home-image {
  width: 35vw;
  margin-top: 4%;
  border-radius: 10%;
}

.smaller-image {
  width: 35vw;
  margin-top: 4%;
  border-radius: 5%;
}

.bigger-image {
  width: 65vw;
  margin: auto;
  border-radius: 2%;
  margin-left: 5%;
}

.long-image {
  width: 25vw;
  margin-left: 5%;
}

.medium-image {
  width: 35vw;
  margin-top: 5%;
  margin-left: 1%;
}

.credits {
  font-size: 0.9em;
  margin-top: 0.2px;
  color: rgb(140, 136, 136)
}

.credits a {
  color: #7b7e7e;
}

.credits a:hover {
  color: #bbbebe;
}


/** Text settings **/
h1 {
   font-size: 5vw;
   font-family: 'Brandon Grotesque Regular', sans-serif;
   font-weight: 200;
   margin: 4%;
   color: #d9b85c;
   text-align: center;
}

h2 {
   font-size: 4vw;
   margin: 4%;
   text-align: center;
   font-family: 'Inter', sans-serif;
}

h3 {
   font-size: 2.3vw;
   font-weight: lighter;
   text-align: center;
}

p { 
  color: #5e6464;
}


/** Tech Blog display (grid) **/
#inner-grid-tech {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vw;
}

#inner-grid > header {
  padding: 2vw;
}

#inner-grid > article {
  padding: 2vw;
}

.read-more {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #cb8f8d;
  font-family: 'Inter', sans-serif;
}

.read-more a {
  color: #cb8f8d;
}

.read-more a:hover {
  color: #5e6464;
}

.article-title{
  color: #d9b85c;
}

.article-title a{
  color: #d9b85c;
}

.article-title a:hover {
  color:#72a892
}


/** Cultural Blog display (grid) **/
.blog {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
}

.section {
  grid-column-start: 1;  
  grid-row-start: 3;
  margin-top: 5em;
  margin-left: 1.5em;
}

.article-1 {
  grid-column-start: 2;
  grid-row-start: 2;
  margin-top: 8em;
}

.article-2 {
  grid-column-start: 1;
  grid-row-start: 8;
  margin-top: 8em;
  margin-left: 7em;
}

.article-3 {
  grid-column-start: 2;
  grid-row-start: 8;
  margin-top: 8em;
  margin-left: 7em;
}

.article-name {
  margin-bottom: 0.3em;
  text-align: left;
  color:#353e3e;
  font-family: 'Inter', sans-serif;
}

.article-description {
  margin-top: -0.3em;
  margin-bottom: 0.5em; 
}


/** articles display **/
#inner-grid-gallery-photo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vw;
}

#inner-grid-gallery-photo > div {
  padding: 0.5vh 3vw;
  margin: 2% -2% -15% -6%;
}

.article-text {
  grid-row-start: 4;
  margin-top: 5em;
  color: #5e6464;
  margin-left: 10%;
  margin-right: 10%;
}

ls {
  list-style:disc;
  list-style-position: outside;
  display:list-item;
}

.explanation {
  font-style: italic;
}

/** Footer settings **/
footer {
  background-color:#d7cbd4;
  color:#b08c28;
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}


