html {
  margin: 0px;
  outline: 0px;
}

body {
  background-color: #f7f5f1;
  color: #5e6464;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  
}
/** Index display (grid)**/
#body-grid {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(300px max-content));
  grid-gap: 10em;
  width: 100%;
  max-width: 1280px;
}

#body-grid > nav {
  background-color: #a5c6b1;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  position: fixed;
  width: 100%;
  text-align: center;
}

#body-grid > main {
  margin-top: 18vh;
  margin-left: 1vw;
}

#body-grid > footer {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

#inner-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  max-width: 1280px;
  margin: 70px 10px 100px;
}

@media (max-width: 700px) {
   #inner-grid {
     display: block;
   }
}


/** navbar settings **/
#navbar {
  margin-top: -3px;
  text-align: center;
}  

#navbar a {
  color: #b464a8;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  text-align: center;
}

#navbar a:hover {
  background-color: #f7f5f1;
  color: #5e6464;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

nav ul {
   list-style: none;
   font-family: 'Inter', sans-serif;
   text-align: center;
}

nav li {
   display: inline;
   color: #b464a8;
   font-family: 'Inter', sans-serif;
   padding: 5px;
   text-align: center;
}


/** image settings **/
.home-image {
  width: 350px;
  margin-top: 4%;
  border-radius: 10%;
  margin-left: 15%;
}

.smaller-image {
  width: 350px;
  margin-top: 4%;
  border-radius: 5%;
  margin-left: 20px;
}

.bigger-image {
  width: 65vw;
  margin: auto;
  border-radius: 2%;
  margin-left: 5%;
}

.long-image {
  width: 25vw;
  margin-left: 5%;
  margin-bottom: -5px;
}

.medium-image {
  width: 35vw;
  margin-top: 40px;
}

.credits {
  font-size: 1.8vh;
  margin: 0.2px 20px 10px;
  color: rgb(140, 136, 136)
}

.credits a {
  color: #7b7e7e;
}

.credits a:hover {
  color: #bbbebe;
}


/** Text settings **/
h1 {
   font-size: 50px;
   font-family: 'Brandon Grotesque Regular', sans-serif;
   font-weight: 200;
   margin: 4%;
   color: #d9b85c;
   text-align: center;
}

h2 {
   font-size: 40px;
   margin-top: 50px;
   margin-bottom: 50px;
   color: #d9b85c;
   text-align: center;
   font-family: 'Inter', sans-serif;
   text-align: center;
}

h3 {
   font-size: 25px;
   font-weight:bold;
}

.h3 {
  font-weight:lighter;
  text-align: center;
}

h4 {
  text-align: center;
  font-size: 21px;
  font-weight: lighter;
  font-family: 'Brandon Grotesque Regular', sans-serif;
  padding-top: 30px;
  padding-right: 15%;
  padding-bottom: 20px;
  padding-left: 15%;
}

p { 
  color: #5e6464;
}


/** Tech Blog display (grid) **/

.article-name {
  margin:10px 20px 5px;
  text-align: left;
  color:#353e3e;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.article-description {
  margin: -5px 20px;
}

.read-more {
  margin: 10px 20px 30px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #cb8f8d;
  font-family: 'Inter', sans-serif;
}


/** Cultural Blog display (grid) **/
.section {
  grid-column-start: 1;  
}

.article-1 {
  grid-column-start: 2;
  margin-left: 20px;
}

.article-2 {
  grid-column-start: 1;
  margin-left: 20px;
}

.article-3 {
  grid-column-start: 2;
  margin-left: 20px;
}


/** articles display **/
#inner-grid-gallery-photo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vw;
}

#inner-grid-gallery-photo > div {
  padding: 0.5vh 3vw;
  margin: 2% -2% -15% -6%;
}

.article-text {
  grid-row-start: 4;
  margin-top: 5em;
  color: #5e6464;
  margin-left: 10%;
  margin-right: 10%;
}

ls {
  list-style:disc;
  list-style-position: outside;
  display:list-item;
}

.explanation {
  font-style: italic;
  margin: 10px;
  padding-left: 30px;
}

/** Footer settings **/
footer {
  background-color:#d7cbd4;
  color:#b08c28;
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -3px;
}